<div class="jumbotron">
    <h1>All Point Clouds</h1>
    <hr>
    <div class="container">
        <img src="./public/thumbnails/ripple.png" width="200px" class="img-rounded" alt="Ripple Point Cloud"><a type="btn" class="btn btn-lg btn-success" href="./public/ripple.html">Ripple</a><br><br>
        <img src="./public/thumbnails/r60.png" width="200px" class="img-rounded" alt="r60 point cloud"><a type="btn" class="btn btn-lg btn-success" href="./public/r60.html">r60</a><br><br>
        <img src="./public/thumbnails/lion.png" width="200px" class="img-rounded" alt="rtest point cloud"><a type="btn" class="btn btn-lg btn-success" href="./public/rtest.html">r60</a>
    </div>
</div>